*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    width: 90%;
}

/*********** My Order ***********/
.mv_order_main_class{
    box-shadow: 1px 6px 19px 0px #a4a4a433;
    margin-bottom: 50px;
}
.mv_order_heading{
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
    padding-top: 20px;
}
.mv_order_nav_tabs .mv_order_navs_button{
    font-size: 16px;
    font-weight: 500;
    color: #727272;
    padding: 20px 10px;
    width: 100%;
}
.mv_order_nav_tabs .mv_order_navs_button.active{
    font-size: 16px;
    font-weight: 500;
    color: #000000 !important;
    border: none;
    border-bottom: 1px solid #5c5c5c !important;
}
.mv_order_navs_button:focus-visible {
    outline: none !important;
}
.mv_oredr_nav_item{
    width: 33.33%;
    display: flex;
    justify-content: center;
}
.mv_order_nav_tabs .mv_order_navs_button:hover{
    border: none;
    color: #000000;
    /* border-color: #fff !important; */
}
.mv_order_table_content{
    padding: 20px;
}
.mv_order_expacted{
    border-radius: 4px;
    border: 1px solid #040404;
    margin-bottom: 20px;
}
.mv_order_date_main{
    border-bottom: 0.5px solid #b8b8b8;
    padding: 10px;
}
.mv_order_date_heading{
    font-size: 12px;
    font-weight: 500;
    color: #727272;
    margin-right: 5px;
}
.mv_order_date{
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}
.mv_order_product_details{
    padding: 10px;
}
.mv_order_product_image{
    text-align: center;
}
.mv_order_product_text{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}
.mv_order_review .mv_order_review_yellow{
    color: #f8a120;
}
.mv_order_review .mv_order_review_gray{
    color: #727272;
}
.mv_order_price_track{
    text-align: end;
}
.mv_order_price{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 40px;
}
.mv_order_track{
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    border-bottom: 1px solid #000000;
}
.mv_order_track:hover{
    color: #000000;
}
.mv_your_item{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: #000000;
}
.mv_no_order_item{
    height: 300px;
    margin-top: 100px;
}
.mv_main_no_order{
    display: flex !important;
    justify-content: center;
}
/* Offcanvas Return Order */
.mv_otp_box{
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    margin: 0 auto;
}
.mv_otp_input{
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    border-color: #b8b8b8;
}
.mv_off_request_for_OTP{
    color: #fff;
    padding: 6px 20px;
    border-radius: 4px;
    width: 350px;
    background-color: #040404;
    position: absolute;
    top: 485px;
    border: none !important;
}
.mv_refund_back_to_home{
    width: 195px !important;
}
.dk_custom_input_group{
    margin-bottom: 35px !important;
}
/********************************/

/*********** Track Order ***********/
.dk_order_tracking{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
    position: relative;
}
.dk_order_tracking_step{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dk_order_tracking_circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #727272;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    z-index: 1;
}
.dk_order_tracking_active{
    background-color: black;
}
.dk_order_tracking_without_line{
    position: absolute;
    top: 27%;
    left: 8px;
    right: 2%;
    height: 2px;
    background-color: #d2d2d2;
    z-index: 0;
    width: 95%;
}
.dk_order_tracking_line{
    position: absolute;
    top: 32%;
    left: 0;
    right: 2%;
    height: 2px;
    background-color: #000000;
    z-index: 0;
    width: 50%;
}
.dk_order_tracking_line_one{
    position: absolute;
    top: 32%;
    left: 48%;
    right: 2%;
    height: 2px;
    background-color: #b8b8b8;
    z-index: 0;
    width: 50%;
}
.dk_order_tracking_line_paymet{
    position: absolute;
    top: 32%;
    left: 48%;
    right: 2%;
    height: 2px;
    background-color: #000000;
    z-index: 0;
    width: 50%;
}
.mv_product_details_heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: #000000;
}
.mv_track_order_sub_heading{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
    margin-top: 10px;
}
::-webkit-scrollbar{
    display: none;
}
.mv_order_product_details_main{
    margin: 0px 0px 80px 0px !important;
    border: 1px solid #040404;
    border-radius: 4px;
}
.mv_order_product_details_item{
    padding-right: calc(var(--bs-gutter-x) * 0px) !important;
    padding-left: calc(var(--bs-gutter-x) * 0px) !important;
}
.mv_order_details{
    padding: 20px 10px;
}
.mv_product_details_sub_heading{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
    padding: 10px 10px 20px 10px;
    border-bottom: 0.5px solid #b8b8b8;
}
.mv_order_id_content{
    padding: 10px;
}
.mv_order_id_heading{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: #727272;
}
.mv_order_date_delivery{
    display: flex;
}
.mv_oredr_status{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: #0f993e;
}
.mv_order_id{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: #000000;
}
.mv_delivery_address_name{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
}
.mv_delivery_address{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #000000;
}
.mv_download_invoice{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
    text-decoration: underline !important;
}
.mv_download_invoice:hover{
    color: #000000;
}
.mv_cancel_order button{
    border-radius: 4px;
    background-color: #fff !important;
    border: 1px solid #000000 !important;
}
.mv_cancel_order{
    margin-top: 50px;
}
.mv_cancel_order_button{
    padding: 6px 20px;
    border: none !important;
}
/* Offcanvas */
.mv_cancel_order_heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: #000000;
}
.mv_cancel_order_border{
    border-bottom: 1px solid #f2f2f2 !important;
}
.dk_custom_label{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 16px;
    color: gray;
}
.dk_custom_input_group{
    position: relative;
    margin-top: 20px;
}
.dk_custom_input{
    padding: 0.75rem 2.25rem 0.75rem 0.75rem !important;
    border: 1px solid #727272 !important;
}
.dk_custom_input:focus{
    box-shadow: none !important;
}
.mv_offcanvas_form_select{
    border: 1px solid #727272 !important;
    padding: 0.75rem 2.25rem 0.75rem 0.75rem !important;
}
.mv_offcanvas_form_select:focus{
    box-shadow: none !important;
}
.mv_off_continue{
    color: #fff;
    padding: 6px 20px;
    border-radius: 4px;
    width: 350px;
    background-color: #040404;
    position: absolute;
    top: 550px;
    border: none !important;
}
/* Cancel Order Model */
.mv_successfully_text{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    color: #000000;
}
.mv_back_to_home{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    background-color: #fff;
    padding: 6px 30px;
    border-radius: 4px;
    border: 1px solid #000000;
    width: 155px;
}
.mv_track_refund{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    background-color: #000000;
    padding: 6px 30px;
    border-radius: 4px;
    border: 1px solid #000000;
    width: 155px;
}
/********************************/

/******** Track Refund *********/
.dk_track_refund_without_line{
    position: absolute;
    top: 27%;
    left: 50px;
    right: 2%;
    height: 2px;
    background-color: #d2d2d2;
    z-index: 0;
    width: 90%;
}
/********************************/

/******* Review & Feedback *******/
.mv_main_review_feedback{
    display: flex;
}
.mv_main_review_heading{
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
    color: #000000;
    margin-bottom: 10px;
}
.mv_review_feedback_width{
    width: 60% !important;
}
.mv_main_review_and_feedback{
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 1px 6px 19px 0px #a4a4a433;
}
.mv_review_and_feedback{
    padding: 5px;
    border-bottom: 0.5px solid #b8b8b8;
}
.mv_overall_reting_heading{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
}
.mv_overall_rating_star i{
    font-size: 18px;
    margin-right: 5px;
}
.mv_add_photo{
    position: relative;
}
.mv_add_photo img{
    width: 79px;
    width: 79px;
    margin-right: 10px;
}
.mv_close_photo{
    position: absolute;
    background-color: #fff;
    padding: 1.5px 7px;
    border-radius: 50%;
    top: -10px;
    right: 3px;
    cursor: pointer;
}
.mv_upload_button{
    display: inline-block;
    padding: 5.5px 24px;
    color: #727272;
    background-color: #d5d5d5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    font-size: 45px;
}
.mv_add_img[type="file"]{
    display: none;
}
/* .upload-button:hover {
    background-color: #b3b3b3;
}
.preview-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.preview-container img,
.preview-container video {
    width: 79px;
    height: 79px;
    object-fit: cover;
    border-radius: 5px;
}
.close-button {
    position: absolute;
    top: -3px;
    right: -4px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
} */
.mv_feedback_box{
    border: 1px solid #040404 !important;
}
.mv_feedback_box:focus{
    box-shadow: none !important;
    border: 1px solid #040404 !important;
}
.mv_review_submit_button{
    padding: 5px;
}
.mv_review_submit_button button{
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 6px 20px;
    width: 200px;
    border-radius: 4px;
}
/********************************/

/******* Return & Refund *******/
.mv_oredr_tracking{
    margin-right: 50px;
}
.mv_oredr_tracking:last-child{
    margin-right: 0px;
}
.mv_track_order_heading{
  white-space: nowrap;
}
/********************************/

/************ Invoice ************/
.mv_invoice_main{
    padding: 3rem;
}
.mv_invoice_logo{
    font-size: 11.88px;
    font-weight: 700;
    line-height: 14.38px;
    color: #000000;
}
.mv_invoice_text{
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    color: #000000;    
}
.mv_invoice_no_heading{
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    color: #727272;
}
.mv_invoice_number{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #000000;
}
.mv_billed_to{
    font-size: 10px;
    font-weight: 600;
    line-height: 12.1px;
    color: #727272;
}
.mv_alex_shrof{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #000000;
}
.mv_alex_address{
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #000000;
}
.mv_alex_number{
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    color: #000000;
}
.mv_invoice_item thead tr th{
    border-bottom-color: #fff !important;
    border-bottom: 0.5px solid #B8B8B8 !important;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #000000;
}
.mv_invoice_item tbody tr th{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #000000;
    border: none;
}
.mv_invoice_item tbody tr td{
    border: none;
}
.mv_samsung_heading{
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    color: #737373;
}
.mv_note_heading{
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    color: #000000;
}
.mv_note_text{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #727272;
}
.mv_discount{
    color: #0F993E;
}
.mv_total_amount{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #000000;
}
.mv_smile_logo{
    height: 10px;
    width: 10px;
    margin-top: 3px;
}
.mv_thankyou{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #000000CC;
}
.mv_main_invoice_sub_footer{
    padding: 3rem;
}
.mv_invoice_footer{
    background-color: #040404;
    color: #fff;
}
.mv_payment_method{
    font-size: 10px;
    font-weight: 600;
    line-height: 12.1px;
    color: #959595;
}
.mv_bank_name{
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    color: #FFFFFF;
}
/********************************/

/***** On Click Delivered Order *****/
.mv_in_click_delivered_tracking{
    background-color: #000000 !important;
}
.mv_on_click_main_review_heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
}
/*************************************/

/************ sportswear ************/
/* slider1 */
.mv_air_max_bg_img{
    background-image: url(../mv_image/air_max_bg.png);
    height: 640px !important;
}
.mv_ari_max_shoes{
    padding-top: 50px;
}
.mv_ari_max_shoes img{
    width: 70% !important;
    height: 100% !important;
}
.mv_trending_card_dis{
    font-size: 9px;
    font-weight: 400;
    line-height: 10.89px;
    color: #fff;
}
.mv_air_max_width{
    width: 35% !important;
    top: 50%;
    left: 10%;
    width: 50%;
    transform: translateY(-50%);
}
.mv_air_max_heading{
    font-size: 128px !important;
    font-style: italic;
    font-weight: 700;
    line-height: 110px;
}
.mv_nike_air{
    font-size: 38.43px !important;
    font-style: italic;
    font-weight: 200;
    /* line-height: 46.5px;   */
}
.mv_air_price{
    font-size: 38.43px !important;
    font-style: italic;
    font-weight: 600;
    /* line-height: 46.5px; */
}
.mv_air_discription{
    font-size: 16.49px !important;
    font-style: italic;
    font-weight: 200;
    line-height: 20px;
    width: 550px;
    margin-top: 10px;
}
.mv_shop_now_sport{
    padding: 5px 25px !important;
}
.mv_main_style_take{
    height: 640px;
    background-color: #0097FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.mv_nike_logo_image{
    /* height: 86px !important; */
    width: 85% !important;
    /* padding: 0px 5px; */
}
.mv_style_take{
    writing-mode: vertical-rl;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    letter-spacing: 1.39em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* slider2 */
.mv_air_max_pro_bg_img{
    background-image: url(../mv_image/air_max_bg2.png) !important;
}
.mv_nike_pro_logo_image{
    width: 85% !important;
    margin: 25px 0px 15px 0px !important;
}
.mv_air_max_pro_heading{
    font-family: Black Ops One;
    font-size: 120px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.mv_nike_pro_air{
    font-family: "Cabin", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.05em;
}
.mv_air_pro_discription{
    font-family: "Cabin", sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    line-height: 20px;
    width: 550px;
    margin-bottom: 0px;
}
.mv_air_pro_price{
    font-family: Dosis;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-top: 5px;
    margin-bottom: 15px !important;
}

/* slider3 */
.mv_puma_bg_img{
    background-image: url(../mv_image/puma_bg.png) !important;
    height: 640px;
}
.mv_air_puma_heading{
    font-family: Barlow;
    font-size: 130px;
    font-style: italic;
    font-weight: 800;
    line-height: 150px;
}
.mv_puma_air{
    font-family: Barlow;
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.13em;
}
.mv_puma_price{
    font-family: Barlow;
    font-size: 45px;
    font-style: italic;
    font-weight: 500;
    line-height: 54px;
}
.mv_puma_discription{
    font-family: Barlow;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 24px;
    width: 550px;
}

/* slider4 */
.mv_skechers_bg_img{
    background-image: url(../mv_image/skechers_bg.png) !important;
    height: 640px !important;
    width: 100% !important;
    background-position: center;
    background-size: cover;
    /* object-fit: cover !important; */
    /* background-size: 100% !important; */
    background-repeat: no-repeat !important;
    /* background-position-y: 100% !important; */
}
.mv_skechers_sports{
    top: 30%;
    left: 31%;
}
.mv_skechers_heading{
    font-size: 35px;
    font-style: italic;
    font-weight: 800;
    line-height: 42.36px;
    color: #0361B6;
    text-align: center;
}
.mv_comfort_heading{
    font-family: Instrument Sans;
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    line-height: 42.7px;
    letter-spacing: 0.25em;
    color: #727272;    
}
.mv_shop_now_skechers{
    width: 180px;
    text-align: center;
}

/* slider5 */
.mv_dream_bg_img{
    background-image: url(../mv_image/dream_bg.png) !important;
    height: 640px !important;
    width: 100% !important;
    background-position: center;
    background-size: cover;
    /* object-fit: cover !important; */
    /* background-size: 100% !important; */
    background-repeat: no-repeat !important;
    /* background-position-y: 100% !important; */
}
.mv_dreams_sports{
    top: 50%;
    left: 24%;
}
.mv_deram_heading{
    font-size: 60px;
    font-weight: 600;
    line-height: 72.61px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 5px; 
}
.mv_play_heading{
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #FCFCFD;
    width: 863px !important;
}
.mv_shop_now_skechers{
    width: 180px;
    text-align: center;
}

/* slider6 */
.mv_90_air_max_bg_img{
    background-image: url(../mv_image/air_max_90_bg.png) !important;
    height: 640px;
}
.mv_main_90_air_max{
    margin-top: 80px;
}
.mv_90_air_max img {
    width: 100% !important;
    margin-top: 80px;
    padding-left: 100px;
}
.mv_air_max_90_heading{
    font-family: "Bowlby One SC", sans-serif;
    font-size: 125px;
    font-weight: 400;
    line-height: 180px;
    color: #262626;
}
.mv_air_max_logo{
    position: absolute;
    width: 200px !important;
    top: 40px;
    left: 215px;
}
.mv_max_90_air{
    font-family: "Cabin", sans-serif;
    font-size: 36px;
    line-height: 42.19px;
    margin-bottom: 10px !important;
}
.mv_max_90_price{
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
}
.mv_pmax_90_discription{
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #5F5F5F;
}

/* Trendingdeals */
.mv_tsmh{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    margin-bottom: 5px !important;
}
.mv_tssh{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.mv_discount_text{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: #0F993E;
    margin-bottom: 5px !important;
}
.mv_less_discount_price{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    color: #000000;
    margin-bottom: 5px !important;
}
.mv_without_discount_price{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #727272;
    margin-left: 5px !important;
}

/* Explore more */
.mv_card_title{
    font-size: 30px !important;
    font-weight: 900 !important;
    line-height: 36.31px !important;
    letter-spacing: 0.05em !important;
    color: #fff !important;
    margin-bottom: 5px !important;
}
.mv_run_to{
    font-family: Lato;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    margin-bottom: 10px !important;
    color: #fff !important;
}
.mv_add_the{
    font-family: Hedvig Letters Serif;
    font-size: 30px !important;
    font-weight: 400 !important;
    line-height: 40.2px !important;
    color: #fff !important;
    margin-bottom: 10px !important;
}
.mv_explore_shop_more{
    margin-top: 20px !important;
}
.mv_explore_shop_more:hover{
    color: #fff;
}
/*************************************/

/************* Electronics *************/
/* Slider1 */
.mv_fasting_bg_color{
    background-color: #040404;
    height: 640px !important;
}
.mv_laptop_slider img{
    width: 100% !important;
    height: 100% !important;
    object-position: left;
}
.mv_main_fasting{
    padding-left: 100px;
}
.mv_fasting_heading{
    font-family: StateWide-Bold;
    font-size: 110px;
    line-height: 121px;
    letter-spacing: -0.02em;
    text-align: left;
}
.mv_sub_fasting_heading{
    font-family: StateWide-Medium;
    font-size: 24px;
    line-height: 28.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 25px;
}
/* Slider2 */
.mv_headphone_heading{
    font-family: Nunito;
    font-size: 67px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 30px !important;
}
.mv_sub_headphone_heading{
    font-family: Nunito;
    font-size: 20px;
    font-weight: 500;
    line-height: 34.6px;
    width: 550px;
}
.mv_headphone_slider img {
    width: 90% !important;
    height: 100% !important;
    padding-left: 80px;
}
.mv_headphone_text{
    margin-top: 100px !important;
}
.mv_headphone_image{
    margin-top: 100px !important;
}
/* Slider5 */
.mv_slider_godrej{
    width: 180px !important;
    margin-bottom: 20px;
}
.mv_thought_heading{
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px !important;
}
/* Explore more */
.mv_top_deals{
    font-family: Ibarra Real Nova;
    font-weight: 600 !important;
}
.mv_cinema{
    font-weight: 700 !important;
}
/*************************************/




@media (max-width: 1440px){
    /***** sportswear *****/
    /* slider1 */
    .mv_air_max_heading {
        font-size: 100px !important;
    }
    .mv_air_discription{
        width: 450px;
    }
    .mv_ari_max_shoes{
        padding-top: 100px;
    }
    /* slider2 */
    .mv_air_max_pro_heading{
        font-size: 100px !important;
    }
    .mv_air_pro_discription{
        width: 450px;
    }
    /* slider3 */
    .mv_air_puma_heading{
        font-size: 100px !important;
        line-height: 130px;
    }
    .mv_puma_discription{
        width: 450px;
    }
    /* slider4 */
    .mv_skechers_sports{
        top: 30%;
        left: 28%;
    }
    /* slider5 */
    .mv_dreams_sports{
        top: 50%;
        left: 20%;
    }
    /* slider6 */
    .mv_main_90_air_max {
        margin-top: 50px;
    }
    .mv_90_air_max img {
        margin-top: 50px;
    }
    /***** Electronics *****/
    /* slider2 */
    .mv_headphone_slider img {
        width: 90% !important;
        height: 100% !important;
        padding-left: 80px;
    }
    .mv_headphone_heading{
        font-size: 57px;
    }
    /* slider5 */
    .mv_all_elec_slider img{
        margin-top: 50px;
    }
}

@media (max-width: 1200px){
    /* Track Refund */
    .dk_track_refund_without_line{
        width: 89%;
    }
    /***** sportswear *****/
    /* slider1 */
    .mv_main_style_take{
        height: 470px !important;
    }
    .mv_style_take{
        letter-spacing: .9em !important;
    }
    .mv_air_max_bg_img{
        height: 470px !important;
    }
    .mv_air_max_heading {
        font-size: 80px !important;
        line-height: 90px;
    }
    .mv_nike_air{
        font-size: 30px !important;
        line-height: 20px !important;
    }
    .mv_air_price{
        font-size: 30px !important;
    }
    .mv_air_discription{
        width: 350px;
        font-size: 14px !important;
    }
    .mv_ari_max_shoes{
        padding-top: 50px;
    }
    /* slider2 */
    .mv_air_max_pro_heading {
        font-size: 80px !important;
        line-height: 70px;
    }
    .mv_nike_pro_air{
        font-size: 30px !important;
    }
    .mv_air_pro_price{
        font-size: 30px !important;
    }
    .mv_air_pro_discription{
        width: 350px;
        font-size: 14px !important;
    }
    /* slider3 */
    .mv_puma_bg_img{
        height: 470px;
    }
    .mv_air_puma_heading {
        font-size: 80px !important;
        line-height: 100px;
    }
    .mv_puma_air{
        font-size: 30px !important;
    }
    .mv_puma_price{
        font-size: 30px !important;
        margin-bottom: 5px;
    }
    .mv_puma_discription{
        width: 350px;
        font-size: 14px !important;
    }
    /* slider4 */
    .mv_skechers_bg_img{
        height: 470px !important;
    }
    .mv_skechers_sports{
        top: 32%;
        left: 23%;
    }
    /* slider5 */
    .mv_dream_bg_img{
        height: 470px !important;
    }
    .mv_dreams_sports{
        top: 45%;
        left: 23%;
    }
    .mv_deram_heading {
        font-size: 50px;
        line-height: 60px;
    }
    .mv_play_heading {
        font-size: 19px;
        line-height: 22px;
        width: 650px !important;
    }
    /* slider6 */
    .mv_90_air_max_bg_img{
        height: 470px;
    }
    .mv_main_90_air_max{
        margin-top: 0px;
    }
    .mv_90_air_max img {
        margin-top: 0px;
    }
    .mv_air_max_90_heading {
        font-size: 110px;
        line-height: 120px;
    }
    .mv_air_max_logo{
        width: 175px !important;
        top: 20px;
        left: 195px;
    }
    .mv_max_90_air{
        font-size: 32px;
        line-height: 38px;
    }
    .mv_max_90_price{
        font-size: 24px;
        line-height: 29.05px;
    }
    .mv_pmax_90_discription{
        font-size: 18px;
        line-height: 22px;
    }
    /***** Electronics *****/
    /* slider1 */
    .mv_main_fasting {
        padding-left: 80px;
    }
    .mv_fasting_heading {
        font-size: 85px;
        line-height: 85px;
    }
    .mv_sub_fasting_heading {
        font-size: 22px;
        line-height: 28.13px;
        margin-bottom: 25px;
    }
    /* slider2 */
    .mv_fasting_bg_color{
        height: 470px !important;
    }
    .mv_headphone_heading{
        font-size: 47px;
        line-height: 50px;
        margin-bottom: 20px !important;
    }
    .mv_sub_headphone_heading{
        line-height: 25px;
        width: 450px;
    }
    .mv_headphone_text{
        margin-top: 60px !important;
    }
    .mv_headphone_image{
        margin-top: 60px !important;
    }
    /* slider5 */
    .mv_all_elec_slider img{
        margin-top: 0px;
    }
    .mv_thought_heading {
        font-size: 55px;
        line-height: 60px;
    }
    .mv_slider_godrej {
        width: 160px !important;
    }
    /* slider6 */
    
}

@media (max-width: 1024px) {
    /***** sportswear *****/
    /* slider1 */
    .mv_ari_max_shoes img{
        margin-top: 40px;
    }
    /* slider2 */
    .mv_air_max_pro_heading {
        font-size: 74px !important;
        line-height: 70px;
    }
    /* Slide 4 */
    .mv_skechers_sports {
        top: 32%;
        left: 18%;
    }
    /* Slide 5 */
    .mv_dreams_sports {
        top: 45%;
        left: 19%;
    }
    /* slider6 */
    .mv_90_air_max_bg_img{
        height: 470px;
    }
    .mv_main_90_air_max{
        margin-top: 50px;
    }
    .mv_90_air_max img {
        margin-top: 50px;
    }
    .mv_air_max_90_heading {
        font-size: 90px;
        line-height: 110px;
    }
    .mv_air_max_logo{
        width: 150px !important;
        top: 20px;
        left: 160px;
    }
    .mv_max_90_air{
        font-size: 26px;
        line-height: 30px;
    }
    .mv_max_90_price{
        font-size: 20px;
        line-height: 20px;
    }
    .mv_pmax_90_discription{
        font-size: 16px;
        line-height: 20px;
    }
    /***** Electronics *****/
    /* slider1 */
    .mv_laptop_slider img {
        width: 100% !important;
    }
    .mv_laptop_slider img {
        object-position: -43px 0px;
    }
    .mv_main_fasting {
        padding-left: 40px;
    }
    .mv_fasting_heading {
        font-size: 70px;
        line-height: 75px;
    }
    .mv_sub_fasting_heading {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    /* slider2 */
    .mv_headphone_heading{
        font-size: 40px;
    }
    .mv_sub_headphone_heading{
        width: 400px;
    }
    .mv_headphone_text{
        margin-top: 90px !important;
    }
    .mv_headphone_image{
        margin-top: 90px !important;
    }
    .mv_headphone_slider img {
        padding-left: 40px;
    }
    /* slider5 */
    .mv_all_elec_slider img{
        margin-top: 40px;
    }
    .mv_thought_heading {
        font-size: 45px;
        line-height: 50px;
    }
    .mv_slider_godrej {
        width: 150px !important;
        margin-bottom: 10px;
    }
}

@media (max-width: 991px){
    /* Track Refund */
    .dk_track_refund_without_line{
        width: 84%;
    }
    /* Return & Refund */
    .mv_order_tracking_line{
        width: 90%;
    }
    /***** sportswear *****/
    /* slider1 */
    .mv_air_max_heading {
        font-size: 70px !important;
        line-height: 80px;
    }
    .mv_nike_air{
        font-size: 25px !important;
        line-height: 20px !important;
    }
    .mv_air_price{
        font-size: 25px !important;
    }
    .mv_air_discription{
        width: 300px;
    }
    .mv_style_take{
        letter-spacing: .6em !important;
    }
    /* slider2 */
    .mv_air_max_pro_heading {
        font-size: 70px !important;
        line-height: 60px;
    }
    .mv_nike_pro_air{
        font-size: 25px !important;
    }
    .mv_air_pro_price{
        font-size: 25px !important;
    }
    .mv_air_pro_discription{
        width: 300px;
    }
    /* slider3 */
    .mv_air_puma_heading {
        font-size: 70px !important;
        line-height: 90px;
    }
    .mv_puma_air{
        font-size: 25px !important;
    }
    .mv_puma_price{
        font-size: 25px !important;
    }
    .mv_puma_discription{
        width: 300px;
    }
    /* slider4 */
    .mv_skechers_sports{
        top: 30%;
        left: 22%;
    }
    .mv_skechers_heading{
        font-size: 30px;
        margin-bottom: 5px;
    }
    .mv_comfort_heading{
        font-size: 30px;
        margin-bottom: 15px;
    }
    /* slider5 */
    .mv_dreams_sports{
        top: 45%;
        left: 23%;
    }
    .mv_deram_heading {
        font-size: 40px;
        line-height: 60px;
    }
    .mv_play_heading {
        font-size: 18px;
        line-height: 22px;
        width: 550px !important;
    }
    /* slider6 */
    .mv_main_90_air_max{
        margin-top: 80px;
    }
    .mv_90_air_max img {
        margin-top: 80px;
        padding-left: 50px;
    }
    .mv_air_max_90_heading {
        font-size: 68px;
        line-height: 80px;
    }
    .mv_air_max_logo{
        width: 110px !important;
        top: 15px;
        left: 120px;
    }
    .mv_max_90_air{
        font-size: 19px;
        line-height: 25px;
    }
    .mv_max_90_price{
        font-size: 16px;
        line-height: 10px;
    }
    .mv_pmax_90_discription{
        font-size: 14px;
        line-height: 18px;
    }
    /***** Electronics *****/
    /* slider2 */
    .mv_headphone_heading{
        font-size: 38px;
    }
    .mv_sub_headphone_heading{
        font-size: 18px;
        width: 340px;
    }
    .mv_headphone_slider img {
        width: 100% !important;
    }
}

@media (max-width: 900px){
    /***** sportswear *****/
    /* slider1 */
    .mv_main_style_take{
        height: 400px !important;
    }
    .mv_air_max_bg_img{
        height: 400px !important;
    }
    .mv_air_max_heading {
        font-size: 50px !important;
        line-height: 60px;
    }
    .mv_nike_air {
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .mv_air_price{
        font-size: 18px !important;
    }
    .mv_air_discription{
        width: 350px;
        font-size: 14px !important;
        margin-top: 0px !important;
    }
    .mv_ari_max_shoes{
        padding-top: 50px;
    }
    /* slider2 */
    .mv_air_max_pro_heading {
        font-size: 50px !important;
        line-height: 60px;
    }
    .mv_nike_pro_air {
        font-size: 18px !important;
        line-height: 30px !important;
    }
    .mv_air_pro_price{
        font-size: 18px !important;
    }
    .mv_air_pro_discription{
        width: 350px;
        font-size: 14px !important;
        margin-top: 0px !important;
    }
    /* slider3 */
    .mv_puma_bg_img{
        height: 400px;
    }
    .mv_air_puma_heading {
        font-size: 50px !important;
        line-height: 60px;
    }
    .mv_puma_air {
        font-size: 18px !important;
        line-height: 30px !important;
    }
    .mv_puma_price{
        font-size: 18px !important;
        line-height: 35px;
    }
    .mv_puma_discription{
        width: 350px;
        font-size: 14px !important;
        margin-top: 0px !important;
    }
    /* slider4 */
    .mv_skechers_bg_img{
        height: 400px !important;
    }
}

@media (max-width: 768px){
    /* My Order */
    .dk_custom_label{
        top: -12px !important;
        left: 5px !important;
        background-color: #fff !important;
    }
    /* sportswear */
    /* slider1 */
    .mv_main_style_take{
        height: 350px !important;
    }
    .mv_style_take{
        letter-spacing: .6em !important;
    }
    .mv_air_max_bg_img{
        height: 350px !important;
    }
    .mv_air_max_heading {
        font-size: 50px !important;
        line-height: 50px;
    }
    .mv_nike_air {
        font-size: 16px !important;
        line-height: 22px !important;
    }
    .mv_air_price{
        font-size: 15px !important;
        line-height: 30px;
    }
    .mv_air_discription{
        font-size: 12px !important;
        line-height: 16px;
        width: 250px;
    }
    /* slider2 */
    .mv_air_max_pro_heading {
        font-size: 50px !important;
        line-height: 50px;
    }
    .mv_nike_pro_air {
        font-size: 16px !important;
        line-height: 22px !important;
    }
    .mv_air_pro_price{
        font-size: 15px !important;
        line-height: 30px;
    }
    .mv_air_pro_discription{
        font-size: 12px !important;
        line-height: 16px;
        width: 250px;
    }
    /* slider3 */
    .mv_puma_bg_img{
        height: 350px;
    }
    .mv_air_puma_heading {
        font-size: 50px !important;
        line-height: 70px;
    }
    .mv_puma_air {
        font-size: 16px !important;
        line-height: 22px !important;
    }
    .mv_puma_price{
        font-size: 15px !important;
        line-height: 30px;
    }
    .mv_puma_discription{
        font-size: 12px !important;
        line-height: 16px;
        width: 250px;
    }
    /* slider4 */
    .mv_skechers_bg_img{
        height: 350px !important;
    }
    .mv_skechers_sports{
        top: 30%;
        left: 25%;
    }
    .mv_skechers_heading{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0px;
    }
    .mv_comfort_heading{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .mv_shop_now_skechers{
        width: 120px;
        padding: 4px 10px !important;
    }
    /* slider5 */
    .mv_dream_bg_img{
        height: 350px !important;
    }
    .mv_dreams_sports{
        top: 40%;
        left: 20%;
    }
    .mv_deram_heading {
        font-size: 30px;
        line-height: 50px;
    }
    .mv_play_heading {
        font-size: 16px;
        line-height: 18px;
        width: 450px !important;
    }
    /* slider6 */
    .mv_90_air_max_bg_img{
        height: 350px;
    }
    .mv_main_90_air_max{
        margin-top: 30px;
    }
    .mv_90_air_max img {
        margin-top: 30px;
        padding-left: 50px;
    }
    .mv_air_max_90_heading {
        font-size: 60px;
        line-height: 70px;
    }
    .mv_air_max_logo{
        width: 80px !important;
        top: 11px;
        left: 105px;
    }
    .mv_max_90_air{
        font-size: 16px;
        line-height: 20px;
    }
    .mv_max_90_price{
        font-size: 15px;
        line-height: 10px;
    }
    .mv_pmax_90_discription{
        font-size: 13px;
        line-height: 16px;
    }
    /***** Electronics *****/
    /* slider1 */
    .mv_fasting_heading {
        font-size: 55px;
        line-height: 60px;
    }
    .mv_sub_fasting_heading {
        font-size: 16px;
        line-height: 20px;
    }
    .mv_ari_max_shoes img{
        margin-top: 0px;
    }
    /* slider2 */
    .mv_fasting_bg_color {
        height: 350px !important;
    }
    .mv_headphone_heading{
        font-size: 30px;
        line-height: 40px;
    }
    .mv_sub_headphone_heading {
        font-size: 17px;
        line-height: 20px;
        width: 300px;
    }
    .mv_headphone_slider img {
        padding-left: 0px;
        width: 100% !important;
    }
    .mv_headphone_text {
        margin-top: 30px !important;
    }
    .mv_headphone_image {
        margin-top: 30px !important;
    }
    /* slider5 */
    .mv_all_elec_slider img{
        margin-top: 40px;
    }
    .mv_thought_heading {
        font-size: 35px;
        line-height: 40px;
    }
    .mv_slider_godrej {
        width: 140px !important;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px){
    /* My Order */
    .mv_order_product_image{
        text-align: start !important;
        margin-bottom: 10px;
    }
    .mv_order_price_track{
        text-align: start;
    }
    .mv_order_price{
        margin-bottom: 5px;
    }
    .mv_order_nav_tabs .mv_order_navs_button{
        padding: 5px;
    }
    /* Track Refund */
    .dk_track_refund_without_line{
        width: 82%;
    }
    /* Review & Feedback */
    .mv_main_review_feedback{
        display: block !important;
    }
    .mv_review_feedback_width{
        width: 100% !important;
    }
    /* Return & Refund */
    .mv_order_tracking_line{
        width: 580px;
    }
}

@media (max-width: 575px){
    /* My Order */
    .mv_item_successfully{
        display: block;
        flex-direction: column;
    }
    /* Invoice */
    .mv_invoice_main{
        padding: 1rem !important;
    }
    .mv_main_payment_method{
        margin-bottom: 1rem;
    }
    .mv_main_invoice_sub_footer{
        padding: 1rem !important;
    }
    /***** sportswear *****/
    .owl-theme .owl-dots .owl-dot span {
        margin: 5px !important;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 6px !important;
        height: 6px !important;
    }
    /* slider1 */
    .mv_shop_now_sport{
        font-size: 14px !important;
        padding: 4px 15px !important;
    }
    .mv_air_max_width{
        top: 45%;
        left: 18%;
    }
    .mv_main_style_take{
        height: 350px !important;
    }
    .mv_style_take{
        letter-spacing: .5em !important;
    }
    .mv_air_max_bg_img{
        height: 350px !important;
    }
    .mv_air_max_heading {
        font-size: 30px !important;
        line-height: 30px;
    }
    .mv_nike_air{
        font-size: 13px !important;
    }
    .mv_air_price{
        font-size: 13px !important;
    }
    .mv_air_discription {
        width: 220px;
    }
    .mv_ari_max_shoes img {
        margin-top: 40px;
    }
    /* slider2 */
    .mv_air_max_pro_heading {
        font-size: 30px !important;
        line-height: 30px;
    }
    .mv_nike_pro_air{
        font-size: 13px !important;
        line-height: 30px !important;
    }
    .mv_air_pro_price{
        font-size: 13px !important;
        margin-bottom: 5px !important;
    }
    .mv_air_pro_discription {
        width: 200px;
    }
    /* slider3 */
    .mv_puma_bg_img{
        height: 350px;
    }
    .mv_air_puma_heading {
        font-size: 30px !important;
        line-height: 30px;
    }
    .mv_puma_air{
        font-size: 13px !important;
        line-height: 30px !important;
    }
    .mv_puma_price{
        font-size: 13px !important;
        margin-bottom: 0px !important;
    }
    .mv_puma_discription {
        width: 200px;
    }
    /* slider4 */
    .mv_skechers_bg_img{
        height: 350px !important;
    }
    .mv_skechers_sports{
        top: 30%;
        left: 25%;
    }
    .mv_skechers_heading{
        font-size: 15px;
    }
    .mv_comfort_heading{
        font-size: 15px;
        margin-bottom: 0px;
    }
    .mv_shop_now_skechers{
        width: 100px;
        padding: 4px 10px !important;
        font-size: 12px !important;
    }
    /* slider5 */
    .mv_dream_bg_img{
        height: 350px !important;
    }
    .mv_dreams_sports{
        top: 48%;
        left: 18%;
    }
    .mv_deram_heading {
        font-size: 25px;
        line-height: 40px;
    }
    .mv_play_heading {
        font-size: 14px;
        line-height: 16px;
        width: 370px !important;
    }
    /* slider6 */
    .mv_90_air_max_bg_img{
        height: 350px;
    }
    .mv_main_90_air_max{
        margin-top: 50px;
    }
    .mv_90_air_max img {
        margin-top: 70px;
        padding-left: 0px;
    }
    .mv_air_max_90_heading {
        font-size: 50px;
        line-height: 60px;
    }
    .mv_air_max_logo{
        width: 80px !important;
        top: 11px;
        left: 87px;
    }
    .mv_max_90_air{
        font-size: 15px;
        line-height: 18px;
    }
    .mv_max_90_price{
        font-size: 15px;
        line-height: 10px;
        margin-bottom: 10px !important;
    }
    .mv_pmax_90_discription{
        font-size: 13px;
        line-height: 16px;
    }
    /***** Electronics *****/
    /* slider1 */
    .mv_laptop_slider img{
        margin-top: 45px;
        height: 230px !important;
        object-position: left !important;
    }
    .mv_main_fasting {
        padding-left: 20px;
    }
    .mv_fasting_heading {
        font-size: 35px;
        line-height: 40px;
    }
    .mv_sub_fasting_heading {
        font-size: 11px;
        line-height: 17px;
        margin-bottom: 15px;
    }
    /* slider2 */
    .mv_headphone_heading{
        font-size: 21px;
        line-height: 30px;
    }
    .mv_sub_headphone_heading {
        font-size: 14px;
        line-height: 17px;
        width: 260px;
    }
    .mv_headphone_slider img {
        padding-left: 0px;
        width: 100% !important;
    }
    .mv_headphone_text {
        margin-top: 70px !important;
    }
    .mv_headphone_image {
        margin-top: 70px !important;
    }
    /* slider5 */
    .mv_all_elec_slider img{
        margin-top: 70px;
    }
    .mv_thought_heading {
        font-size: 28px;
        line-height: 33px;
    }
    .mv_slider_godrej {
        width: 130px !important;
        margin-bottom: 10px;
    }
}

@media (max-width: 425px){
    /* My Order */
    .mv_order_nav_tabs{
        display: block !important;
    }
    .mv_order_nav_tabs li{
        margin-bottom: 10px;
    }
    .mv_order_date_main{
        display: block !important;
    }
    .mv_order_date_main{
        flex-direction: column;
    }
    .mv_order_date_heading_main{
        margin-bottom: 5px;
    }
    .mv_off_request_for_OTP{
        width: 300px;
    }
    /* Track Order */
    .mv_order_date_delivery{
        display: block !important;
    }
    .mv_track_order_sub_heading{
        font-size: 12px;
        margin-top: 5px;
    }
    .mv_off_continue{
        width: 300px;
    }
    /* Track Order(Model) */
    .mv_offcanvas_cancle_order{
        width: 350px !important;
    }
    /* Track Refund */
    .dk_track_refund_without_line{
        width: 79%;
    }
    /* Review & Feedback */
    .mv_main_review_heading{
        font-size: 21px;
    }
    /* Invoice */
    .mv_invoice_item{
        overflow-x:  scroll !important;
    }
    /***** sportswear *****/
    /* slider1 */
    .mv_shop_now_sport{
        font-size: 12px !important;
        padding: 3px 15px !important;
    }
    .mv_main_style_take{
        height: 320px !important;
    }
    .mv_style_take{
        letter-spacing: .5em !important;
    }
    .mv_air_max_bg_img{
        height: 320px !important;
    }
    .mv_air_max_heading {
        font-size: 25px !important;
        line-height: 25px;
    }
    .mv_air_discription {
        width: 180px;
    }
    .mv_ari_max_shoes {
        padding-top: 80px;
    }
    .mv_ari_max_shoes img{
        width: 90% !important;
        margin-top: 0px;
    }
    /* slider2 */
    .mv_air_max_pro_heading {
        font-size: 25px !important;
        line-height: 25px;
    }
    .mv_air_pro_discription {
        width: 180px;
        line-height: 14px;
    }
    /* slider3 */
    .mv_puma_bg_img{
        height: 320px;
    }
    .mv_air_puma_heading {
        font-size: 25px !important;
        line-height: 25px;
    }
    .mv_puma_discription {
        width: 180px;
        line-height: 14px;
    }
    /* slider4 */
    .mv_skechers_bg_img{
        height: 320px !important;
    }
    .mv_skechers_sports{
        top: 30%;
        left: 17%;
    }
    .mv_skechers_heading{
        font-size: 15px;
        line-height: 20px;
    }
    .mv_comfort_heading{
        font-size: 15px;
        line-height: 30px;
    }
    /* slider5 */
    .mv_dream_bg_img{
        height: 320px !important;
    }
    .mv_dreams_sports{
        top: 42%;
        left: 15%;
    }
    .mv_deram_heading {
        font-size: 22px;
        line-height: 40px;
    }
    .mv_play_heading {
        font-size: 13px;
        line-height: 16px;
        width: 300px !important;
    }
    /* slider6 */
    .mv_90_air_max_bg_img{
        height: 320px;
    }
    .mv_main_90_air_max{
        margin-top: 50px;
    }
    .mv_90_air_max img {
        margin-top: 70px;
        padding-left: 0px;
    }
    .mv_air_max_90_heading {
        font-size: 35px;
        line-height: 50px;
    }
    .mv_air_max_logo{
        width: 50px !important;
        top: 10px;
        left: 63px;
    }
    .mv_max_90_air{
        font-size: 10px;
        line-height: 12px;
    }
    .mv_max_90_price{
        font-size: 12px;
        line-height: 10px;
        margin-bottom: 10px !important;
    }
    .mv_pmax_90_discription{
        font-size: 10px;
        line-height: 13px;
    }
    /* Explore more */
    .mv_card_title{
        font-size: 22px !important;
        line-height: 25px !important;
    }
    .mv_add_the{
        font-size: 22px !important;
        line-height: 30px !important;
        margin-bottom: 0px !important;
    }
    .mv_run_to{
        font-size: 14px !important;
        line-height: 20px !important;
        margin-bottom: 5px !important;
    }
    .r_shopnowbtn {
        padding: 5px 30px !important;
        background-color: white !important;
        font-size: 14px !important;
    }
    .mv_explore_shop_more {
        margin-top: 10px !important;
    }
    /***** Electronics *****/
    /* slider1 */
    .mv_laptop_slider img{
        margin-top: 80px;
        height: 170px !important;
        object-position: left !important;
    }
    .mv_main_fasting {
        padding-left: 0px;
    }
    .mv_fasting_heading {
        font-size: 25px;
        line-height: 30px;
    }
    .mv_sub_fasting_heading {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 10px;
    }
    /* slider2 */
    .mv_fasting_bg_color{
        height: 320px !important;
    }
    .mv_headphone_heading{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px !important;
    }
    .mv_sub_headphone_heading {
        font-size: 12px;
        line-height: 17px;
        width: 190px;
    }
    .mv_headphone_text {
        margin-top: 60px !important;
    }
    .mv_headphone_image {
        margin-top: 60px !important;
    }
    /* slider5 */
    .mv_main_thought{
        padding-left: 10px !important;
    }
    .mv_all_elec_slider img{
        margin-top: 80px;
    }
    .mv_thought_heading {
        font-size: 20px;
        line-height: 25px;
    }
    .mv_slider_godrej {
        width: 100px !important;
    }
}

@media (max-width: 375px){
  /* My Order */
    .mv_off_request_for_OTP{
        width: 250px;
    }
    .mv_otp_input{
        width: 30px;
        height: 30px;
    }
    /* Track Order */
    .mv_track_order_sub_heading{
        font-size: 10px;
    }
    .mv_off_continue{
        width: 250px;
    }
    /* Track Order(Model) */
    .mv_back_to_home{
        padding: 6px 10px;
    }
    .mv_track_refund{
        padding: 6px 10px;
    }
    .mv_offcanvas_cancle_order{
        width: 280px !important;
    }
    .dk_track_refund_without_line{
        width: 70%;
    }
    /* Return & Refund */
    .mv_order_tracking_line{
        width: 440px !important;
    }
    /***** sportswear *****/
    /* slider1 */
    .mv_air_max_width{
        left: 15%;
    }
    .mv_air_discription {
        width: 150px;
    }
    .mv_air_max_bg_img {
        height: 350px !important;
    }
    .mv_main_style_take {
        height: 350px !important;
    }
    .mv_ari_max_shoes img {
        margin-top: 30px;
    }
    /* slider2 */
    .mv_air_pro_discription{
        width: 150px;
    }
    /* slider3 */
    .mv_puma_bg_img{
        height: 350px;
    }
    .mv_puma_discription{
        width: 150px;
    }
    .mv_puma_air {
        font-size: 11px !important;
        line-height: 20px !important;
    }
    /* slider4 */
    .mv_skechers_bg_img{
        height: 350px !important;
    }
    .mv_skechers_sports{
        top: 30%;
        left: 18%;
    }
    .mv_skechers_heading{
        font-size: 13px;
    }
    .mv_comfort_heading{
        font-size: 13px;
    }
    /* slider5 */
    .mv_dream_bg_img{
        height: 350px !important;
    }
    .mv_dreams_sports{
        top: 48%;
        left: 13%;
    }
    .mv_deram_heading {
        font-size: 20px;
        line-height: 30px;
    }
    .mv_play_heading {
        font-size: 12px;
        line-height: 16px;
        width: 280px !important;
    }
    /* slider6 */
    .mv_90_air_max_bg_img{
        height: 350px;
    }
    .mv_main_90_air_max{
        margin-top: 50px;
    }
    .mv_90_air_max img {
        margin-top: 90px;
        padding-left: 0px;
    }
    .mv_air_max_90_heading {
        font-size: 32px;
        line-height: 45px;
    }
    .mv_air_max_logo{
        width: 40px !important;
        top: 10px;
        left: 58px;
    }
    /***** Electronics *****/
    /* slider1 */
    .mv_laptop_slider img {
        margin-top: 110px;
        height: 150px !important;
    }
    /* slider2 */
    .mv_fasting_bg_color{
        height: 350px !important;
    }
    .mv_headphone_heading{
        font-size: 14px;
        line-height: 17px;
    }
    .mv_sub_headphone_heading {
        font-size: 10px;
        line-height: 14px;
        width: 150px;
    }
    .mv_headphone_text {
        margin-top: 80px !important;
    }
    .mv_headphone_image {
        margin-top: 80px !important;
    }
    /* slider5 */
    .mv_all_elec_slider img{
        margin-top: 100px;
    }
    .mv_thought_heading {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 15px !important;
    }
    .mv_slider_godrej {
        width: 80px !important;
    }
    /* Explore more */
    .mv_card_title{
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .mv_add_the{
        font-size: 18px !important;
        line-height: 25px !important;
    }
    .r_shopnowbtn {
        padding: 5px 25px !important;
        font-size: 12px !important;
    }
    .mv_run_to {
        font-size: 12px !important;
        line-height: 20px !important;
        margin-bottom: 5px !important;
    }
}

@media (max-width: 320px){
    /* sportswear */
    .mv_ari_max_shoes {
        padding-top: 100px;
    }
    /* slider4 */
    .mv_skechers_sports{
        top: 30%;
        left: 12%;
    }
    /* slider5 */
    .mv_dreams_sports{
        top: 48%;
        left: 7%;
    }
    /* slider6 */
    .mv_90_air_max_bg_img{
        height: 350px;
    }
    .mv_90_air_max img {
        margin-top: 105px;
        padding-left: 0px;
    }
    .mv_air_max_90_heading {
        font-size: 27px;
        line-height: 40px;
    }
    .mv_air_max_logo{
        width: 30px !important;
        top: 10px;
        left: 50px;
    }
    /***** Electronics *****/
    /* slider1 */
    .mv_laptop_slider img {
        margin-top: 125px;
        height: 125px !important;
    }
    /* slider2 */
    .mv_sub_headphone_heading{
        width: 135px;
    }
    /* slider5 */
    .mv_all_elec_slider img{
        margin-top: 120px;
    }
    .mv_thought_heading {
        font-size: 15px;
        line-height: 17px;
    }
    .mv_slider_godrej {
        width: 70px !important;
    }
}