*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    width: 90%;
}

/*********** My Order ***********/
.mv_order_main_class{
    box-shadow: 1px 6px 19px 0px #A4A4A433;
    margin-bottom: 50px;
}
.mv_order_heading{
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
    padding-top: 20px;
}
.mv_order_nav_tabs .mv_order_navs_button {
    font-size: 16px;
    font-weight: 500;
    color: #727272;
    padding: 20px 10px;
    /* width: 100%; */
}
.mv_order_nav_tabs .mv_order_navs_button.active{
    font-size: 16px;
    font-weight: 500;
    color: #000000 !important;
    border: none;
    border-bottom: 1px solid #5c5c5c !important;
}
.mv_order_nav_tabs .mv_order_navs_button:hover {
    border: none;
    color: #000000;
}
.mv_order_table_content{
    padding: 20px;
}
.mv_order_expacted{
    border-radius: 4px;
    border: 1px solid #040404;
    margin-bottom: 20px;
}
.mv_order_date_main{
    border-bottom: 0.5px solid #B8B8B8;
    padding: 10px;
}
.mv_order_date_heading{
    font-size: 12px;
    font-weight: 500;
    color: #727272;
    margin-right: 5px;
}
.mv_order_date{
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}
.mv_order_product_details{
    padding: 10px;
}
.mv_order_product_image{
    text-align: center;
}
.mv_order_product_text{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}
.mv_order_review .mv_order_review_yellow{
    color: #F8A120;
}
.mv_order_review .mv_order_review_gray{
    color: #727272;
}
.mv_order_price_track{
    text-align: end;
}
.mv_order_price{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 40px;
}
.mv_order_track{
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    border-bottom: 1px solid #000000;
}
.mv_order_track:hover{
    color: #000000;
}
/********************************/


/*********** Track Order ***********/
.dk_order_tracking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
    position: relative;
}
.dk_order_tracking_step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dk_order_tracking_circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #727272;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    z-index: 1; 
}
.dk_order_tracking_active {
    background-color: black;
}
.dk_order_tracking_without_line {
    position: absolute;
    top: 27%;
    left: 8px;
    right: 2%;
    height: 2px;
    background-color: #D2D2D2;
    z-index: 0; 
    width: 95%;
}
.dk_order_tracking_line {
    position: absolute;
    top: 32%;
    left: 0;
    right: 2%;
    height: 2px;
    background-color: #000000;
    z-index: 0; 
    width: 50%;
}
.dk_order_tracking_line_one{
    position: absolute;
    top: 32%;
    left: 48%;
    right: 2%;
    height: 2px;
    background-color: #B8B8B8;
    z-index: 0; 
    width: 50%;
}
.dk_order_tracking_line_paymet{
    position: absolute;
    top: 32%;
    left: 48%;
    right: 2%;
    height: 2px;
    background-color: #000000;
    z-index: 0; 
    width: 50%;
}
.mv_product_details_heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: #000000;
}
.mv_track_order_sub_heading{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
    margin-top: 10px;
}
.mv_order_product_details_main{
    margin: 0px 0px 80px 0px !important;
    border: 1px solid #040404;
    border-radius: 4px;
}
.mv_order_product_details_item{
    padding-right: calc(var(--bs-gutter-x)* 0px) !important;
    padding-left: calc(var(--bs-gutter-x)* 0px) !important;
}
.mv_order_details{
    padding: 20px 10px;
}
.mv_product_details_sub_heading{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
    padding: 10px 10px 20px 10px;
    border-bottom: 0.5px solid #B8B8B8;
}
.mv_order_id_content{
    padding: 10px;
}
.mv_order_id_heading{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: #727272;    
}
.mv_oredr_status{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: #0F993E;
}
.mv_order_id{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: #000000;
}
.mv_delivery_address_name{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
}
.mv_delivery_address{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #000000;
}
.mv_download_invoice{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
    text-decoration: underline !important;
}
.mv_download_invoice:hover{
    color: #000000;
}
.mv_cancel_order button{
    border-radius: 4px;
    background-color: #fff !important;
    border: 1px solid #000000 !important;
}
.mv_cancel_order{
    margin-top: 50px;
}
.mv_cancel_order_button{
    padding: 6px 20px;
    border: none !important;
}
/* Offcanvas */
.mv_cancel_order_heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: #000000;
}
.mv_cancel_order_border{
    border-bottom: 1px solid #F2F2F2 !important;
}
.dk_custom_label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 16px;
    color: gray;
}  
.dk_custom_input_group {
    position: relative;
    margin-top: 20px;
}
.dk_custom_input{
    border: 1px solid #727272 !important;
}
.dk_custom_input:focus{
    box-shadow: none !important;
}
.mv_offcanvas_form_select{
    border: 1px solid #727272 !important;
    padding: .750rem 2.25rem .750rem .75rem !important;
}
.mv_offcanvas_form_select:focus{
    box-shadow: none !important;
}
.mv_off_continue{
    color: #fff;
    padding: 6px 20px;
    border-radius: 4px;
    width: 350px;
    background-color: #040404;
    position: absolute;
    top: 640px;
    border: none !important;
}
/* Cancel Order Model */
.mv_successfully_text{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    color: #000000;
}
.mv_back_to_home{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    background-color: #fff;
    padding: 6px 30px;
    border-radius: 4px;
    border: 1px solid #000000;
}
.mv_track_refund{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    background-color: #000000;
    padding: 6px 30px;
    border-radius: 4px;
    border: 1px solid #000000;
}
/********************************/

/******** Track Refund *********/
.dk_track_refund_without_line {
    position: absolute;
    top: 27%;
    left: 50px;
    right: 2%;
    height: 2px;
    background-color: #D2D2D2;
    z-index: 0; 
    width: 90%;
}
/********************************/

/******* Review & Feedback *******/
.mv_main_review_heading{
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
    color: #000000;
}
.mv_review_feedback_width{
    width: 60% !important;
}
.mv_main_review_and_feedback{
    padding: 20px;
    box-shadow: 1px 6px 19px 0px #A4A4A433;
}
.mv_review_and_feedback{
    padding: 5px;
    border-bottom: 0.5px solid #B8B8B8;
}
.mv_overall_reting_heading{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
}
.mv_overall_rating_star i{
    font-size: 18px;
    margin-right: 5px;
}
.mv_add_photo{
    position: relative;
}
.mv_add_photo img{
    width: 79px;
    width: 79px;
    margin-right: 10px;
}
.mv_close_photo{
    position: absolute;
    background-color: #fff;
    padding: 1.5px 7px;
    border-radius: 50%;
    top: -10px;
    right: 3px;
    cursor: pointer;
}
.upload-button{
    display: inline-block;
    padding: 5.5px 24px;
    color: #727272;
    background-color: #D5D5D5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    font-size: 45px;
}
input[type="file"] {
    display: none;
}
/* .upload-button:hover {
    background-color: #b3b3b3;
}
.preview-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.preview-container img,
.preview-container video {
    width: 79px;
    height: 79px;
    object-fit: cover;
    border-radius: 5px;
}
.close-button {
    position: absolute;
    top: -3px;
    right: -4px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
} */
/********************************/


@media(max-width:1200px){
    /* Track Refund */
    .dk_track_refund_without_line {
        width: 89%;
    }
}

@media(max-width:991px){
    /* Track Refund */
    .dk_track_refund_without_line {
        width: 84%;
    }
}

@media(max-width:767px){
    /* My Order */
    .mv_order_product_image{
        text-align: start !important;
        margin-bottom: 10px;
    }
    .mv_order_price_track{
        text-align: start;
    }
    .mv_order_price{
        margin-bottom: 5px;
    }
    .mv_order_nav_tabs .mv_order_navs_button{
        padding: 5px;
    }
    /* Track Refund */
    .dk_track_refund_without_line {
        width: 82%;
    }
}

@media(max-width:575px){
    /* My Order */
    .mv_item_successfully{
        display: block;
        flex-direction: column;
    }
}

@media(max-width:425px){
    /* My Order */
    .mv_order_nav_tabs{
        display: block !important;
    }
    .mv_order_nav_tabs li{
        margin-bottom: 10px;
    }
    .mv_order_date_main{
        display: block !important;
    }
    .mv_order_date_main{
        flex-direction: column;
    }
    .mv_order_date_heading_main{
        margin-bottom: 5px;
    }
    /* Track Order */
    .mv_order_date_delivery{
        display: block !important;
    }
    .mv_track_order_sub_heading {
        font-size: 12px;
        margin-top: 5px;
    }
    /* Track Order(Model) */
    .mv_offcanvas_cancle_order{
        width: 350px !important;
    }
    /* Track Refund */
    .dk_track_refund_without_line {
        width: 79%;
    }
}

@media(max-width:375px){
    /* Track Order */
    .mv_track_order_sub_heading {
        font-size: 10px;
    }
    /* Track Order(Model) */
    .mv_back_to_home{
        padding: 6px 10px;
    }
    .mv_track_refund {
        padding: 6px 10px;
    }
    .mv_offcanvas_cancle_order{
        width: 280px !important;
    }
    .dk_track_refund_without_line {
        width: 70%;
    }
}